.floor-plan-card {
    width: 230px;
    height: 120px;
    margin-right: 10px;
    margin-left: 0;
    background-color: #784b1c !important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.floor-plan-card:hover {
    background-color: #4d2e0c !important;
    cursor: pointer;
    transition: 0.3s;
}
.floor-plan-card img {
    height: 26px;
    width: 26px;
    margin-bottom: 10px;
}

.floor-plan-card h3 {
    font-size: 16px;
    color: #d7d7d7;
}

@media only screen and (max-width: 475px) {
    .floor-plan-card {
        min-width: 155px;
        margin-bottom: 10px;
        margin-left: 0;
    }
}