.dashboard-card {
    width: 280px;
    height: 175px;
    margin: 0 5px;
    background-color: #784b1c !important;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 475px) {
    .dashboard-card {
        width: 160px;
        height: 105px;
        margin: 10px;
    }

}